@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic-ext,latin-ext,cyrillic);

/* ======= Base ======= */
html {
	background-color: #151107;
	height:100%;
}
body {
	font-family: 'PT Sans Narrow', sans-serif;
	height: 100%;
	color: #ffe29e;

	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #ffe29e;
	font-weight: 500;
  }
  
.divider-top 	{	top: 0;		}
.divider-bottom {	bottom: 0;	}
.divider-top,
.divider-bottom {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 5px;
	background: url("img/divider.png") no-repeat center;
}
.divider-bottom {
	
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.container img {
	
	margin-left: -10%;
	margin-top: 4%;
	width: 45vw;
	
}


.container {
padding-top: 3%;
	padding-left: 5%;
	padding-right: 3%;
	width: 800px; height: 95vh;
	font: bold 16px/1.3em sans-serif;

	color: #f1d476;
	box-sizing: border-box;
	/* For example only */
	
	resize: both;
	

	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 


}
.container::before,
.container::after {
  content: '';
  position: absolute;
  top: 50%; left: 50%; z-index: -1;
  width: 100%; height: 100%;
  transform: translate(-50%, -50%);
}
.container::before {
  background-image: linear-gradient(#745225, #281d0b);
  clip-path: polygon(13px 0, calc(100% - 13px) 0, 100% 13px, 100% calc(100% - 13px), calc(100% - 13px) 100%, 13px 100%, 0 calc(100% - 13px), 0 13px);
}
.container::after {
  background-image: linear-gradient(#4c300e, #090601);
  clip-path: polygon(14px 2px, calc(100% - 14px) 2px, calc(100% - 2px) 14px, calc(100% - 2px) calc(100% - 14px), calc(100% - 14px) calc(100% - 2px), 14px calc(100% - 2px), 2px calc(100% - 14px), 2px 14px);
}

  
  


a {
	color: #D8AC58;
}



  .logo {
	display: flex;
	justify-content: center;
	margin-top: -50px;
	margin-bottom: 30px;
  }

  .work {

	font-size: 1.8em;
	line-height: 1.2;
  }


  .twit {
	font-size: 1.5em;
	width: 100%;
	margin-top: 5%;
	color: #DF9B46;
	line-height: 1.5;
  }
  .twitter-tweet {
	width: 100%;
	
  }
  
  
  
  
  footer {
	padding-bottom: 1%;
	
	position: absolute;
	left:0px;
	bottom:0px;
	
	width: 100%;
	
  }
  
  ul.links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
  }
  
  ul.links li {
	list-style: none;
	margin: 0 10px;
  }
  
  .vk-link {
	width: 58px;
	height: 50px;
	background: url("img/vk_ico.svg") no-repeat 0 0;
	position: relative;
	
  }
  
  .ico-3 {
	
	width: 56px;
	height: 56px;
	background: url("img/telegram-ico.svg") no-repeat center center;
	position: relative;
  }

  


@media (max-width: 991.98px) { 
	.container {
		width: 750px;
		margin-top: 1%;
		height: 90%;
	}
	.container img {
		width: 95%;
	}
}
@media (max-width: 767.98px) { 
	.container {
		width: 90vw;
		height: 90%;
		padding-left: 5%;
	}
	.work {
		font-size: 1.5em;
	}
	.divider-bottom {
		margin-bottom: -15%;}
		footer {
			margin-bottom: -10%;
		}
 }
 @media (max-width: 575.98px) { 
 body {
	height: 110%;
 }
 footer {
	margin-bottom: -10%;
 }
	.container {
		margin-top: 5%;
		width: 90vw;
		height: 100%;
		padding: 5%;
		padding-top: 10%;
		

	}
	.divider-bottom {
	margin-bottom: -20%;
	}
	.twit {
		font-size: 1.4em;
	}
	footer {
		margin-bottom: -20%;
	}
  }
  @media (max-width: 359.98px) { 
	body {
		height: 150%;
	}
	.container {
		margin-top: 20%;
		padding-top: 13%;
		height: 120%;
		
	}
	footer {
		margin-bottom: -50%;
		width: 50%;
	}
	.work {
		font-size: 1.3em;
	}
	.twit {
		font-size: 1.3em;
	}
	.divider-bottom {
		margin-bottom: -75%;
		}
   }